/CppY/.vs/VSProj/v16
/CppY/Backend/x64/Debug
/CppY/BackendTest/x64/Debug
/CppY/Frontend/x64/Debug
/CppY/BackendTest/*.user
/CppY/FrontendTest/*.user
/CppY/FrontendTest/x64/Debug
/CppY/Interpreter/*.user
/CppY/Interpreter/x64/Debug
/CppY/VariablesTest/x64/Debug
/CppY/x64/Debug
/CppY/VSProj/x64/Debug
/CppY/VSProj/*.user
/CppY/Backend/x64/Release
/CppY/Frontend/x64/Release
/CppY/Base/Types/*.bak
/CppY/Backend/*.user
/CppY/MeshFlow/x64/Debug
/CppY/MeshFlow/x64/Release
/CppY/x64/Release
/CppY/MeshFlow/*.user
/CppY/Interpreter/*.bak
/CppY/Frontend/*.user
