/CppY/.vs/VSProj/v16
/CppY/Backend/x64/Debug
/CppY/BackendTest/x64/Debug
/CppY/Frontend/x64/Debug
/CppY/BackendTest/*.user
/CppY/FrontendTest/*.user
/CppY/FrontendTest/x64/Debug
/CppY/Interpreter/*.user
/CppY/Interpreter/x64/Debug
/CppY/VariablesTest/x64/Debug
/CppY/x64/Debug
/CppY/VSProj/x64/Debug
/CppY/VSProj/*.user
